In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\dbda\Travel.csv")

In [2]:
df

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [5]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [6]:
features_with_na = [features for features in df.columns if df[features].isnull().sum()>1] #to check weather the feature have nulll values on not

In [7]:
features_with_na

['Age',
 'TypeofContact',
 'DurationOfPitch',
 'NumberOfFollowups',
 'PreferredPropertyStar',
 'NumberOfTrips',
 'NumberOfChildrenVisiting',
 'MonthlyIncome']

In [8]:
for features in features_with_na:  #to check the how much is the percentage
    print(features, np.round(df[features].isnull().mean()*100,5), "%missing values")

Age 4.62357 %missing values
TypeofContact 0.51146 %missing values
DurationOfPitch 5.13502 %missing values
NumberOfFollowups 0.92062 %missing values
PreferredPropertyStar 0.53191 %missing values
NumberOfTrips 2.86416 %missing values
NumberOfChildrenVisiting 1.35025 %missing values
MonthlyIncome 4.76678 %missing values

In [9]:
df.Age.fillna(df.Age.median(), inplace=True)

In [10]:
df.TypeofContact.fillna(df.TypeofContact.mode()[0], inplace=True)

In [11]:
df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)

In [12]:
df.NumberOfFollowups.fillna(df.NumberOfFollowups.median(), inplace=True)

In [13]:
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.median(), inplace=True)

In [14]:
df.NumberOfTrips.fillna(df.NumberOfTrips.median(), inplace=True)

In [15]:
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.median(), inplace=True)

In [16]:
df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

In [17]:
df

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [18]:
df.drop("CustomerID", axis=1)

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [19]:
X=df.drop(["ProdTaken"], axis=1)
y=df["ProdTaken"]

In [20]:
X.shape

(4888, 19)

In [21]:
y.shape

(4888,)

In [22]:
y.value_counts()   #thats basically inbalanced datasets

0    3968
1     920
Name: ProdTaken, dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X,y , test_size=0.3, random_state=42)

In [25]:
cat_features= X.select_dtypes(include="object").columns
num_features= X.select_dtypes(exclude="object").columns

In [26]:
cat_features

Index(['TypeofContact', 'Occupation', 'Gender', 'ProductPitched',
       'MaritalStatus', 'Designation'],
      dtype='object')

In [27]:
num_features

Index(['CustomerID', 'Age', 'CityTier', 'DurationOfPitch',
       'NumberOfPersonVisiting', 'NumberOfFollowups', 'PreferredPropertyStar',
       'NumberOfTrips', 'Passport', 'PitchSatisfactionScore', 'OwnCar',
       'NumberOfChildrenVisiting', 'MonthlyIncome'],
      dtype='object')

In [28]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [29]:
numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder()

In [30]:
preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
        ("StandardScaler", numeric_transformer, num_features),
        
    ]
)

In [31]:
X_train = preprocessor.fit_transform(X_train)

In [32]:
X_test = preprocessor.transform(X_test)

In [33]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,-0.649789,0.128011,0.280718,-0.727208,-1.217370,-0.632714,1.409081,0.781435,-0.219989,0.460318
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,-0.527737,-1.262231,-0.719632,1.768057,1.504605,-0.632714,1.409081,-1.279697,-0.219989,-1.005668
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,...,-0.161582,0.128011,1.281068,1.768057,-0.672975,1.580492,-0.046813,0.781435,-0.219989,-1.209722
3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,-0.771841,0.128011,0.280718,0.520424,-0.128580,1.580492,-0.046813,0.781435,0.952257,-0.017750
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,-0.527737,0.128011,1.281068,0.520424,2.593396,-0.632714,0.681134,-1.279697,-0.219989,-0.423411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3416,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,-0.649789,0.128011,1.281068,-0.727208,-0.672975,-0.632714,-1.502707,0.781435,0.952257,-0.531926
3417,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,-0.893893,0.128011,-0.719632,1.768057,-1.217370,-0.632714,1.409081,0.781435,-0.219989,1.512744
3418,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.547143,0.128011,0.280718,-0.727208,2.049001,-0.632714,-0.774760,0.781435,0.952257,-0.357400
3419,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.791246,0.128011,1.281068,-0.727208,-0.128580,-0.632714,-1.502707,0.781435,0.952257,-0.250765
3420,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,...,-0.771841,-1.262231,0.280718,-0.727208,-1.217370,1.580492,-0.046813,-1.279697,-1.392235,-1.071680

In [34]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [35]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix,precision_score,recall_score, f1_score

In [36]:
models ={
    "Decision tree" : DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "Logistic Regression": LogisticRegression()
}

In [37]:
for i in range(len(list(models))):
    model= list(models.values())[i]
    #print(model)
    model.fit(X_train,y_train)
    #print(model,"trained")
    y_train_pred=model.predict(X_train)
    
    y_test_pred=model.predict(X_test)
    
    model_train_accuracy = accuracy_score(y_train, y_train_pred)
    model_train_f1_score = f1_score(y_train, y_train_pred)
    model_train_precision_score = precision_score(y_train, y_train_pred)
    model_train_recall_score = recall_score(y_train, y_train_pred)
    
   
    model_test_accuracy = accuracy_score(y_test, y_test_pred)
    model_test_f1_score = f1_score(y_test, y_test_pred)
    model_test_precision_score = precision_score(y_test, y_test_pred)
    model_test_recall_score = recall_score(y_test, y_test_pred)
    
    
    print(f"Results for {model}:")
    print(f"Training Accuracy: {model_train_accuracy}")
    print(f"Training F1 Score: {model_train_f1_score}")
    print(f"Training Precision Score: {model_train_precision_score}")
    print(f"Training Recall Score: {model_train_recall_score}")
    print(f"Test Accuracy: {model_test_accuracy}")
    print(f"Test F1 Score: {model_test_f1_score}")
    print(f"Test Precision Score: {model_test_precision_score}")
    print(f"Test Recall Score: {model_test_recall_score}")
    print("-" * 50)

Results for DecisionTreeClassifier():
Training Accuracy: 1.0
Training F1 Score: 1.0
Training Precision Score: 1.0
Training Recall Score: 1.0
Test Accuracy: 0.8997955010224948
Test F1 Score: 0.7312614259597805
Test Precision Score: 0.7326007326007326
Test Recall Score: 0.7299270072992701
--------------------------------------------------
Results for RandomForestClassifier():
Training Accuracy: 1.0
Training F1 Score: 1.0
Training Precision Score: 1.0
Training Recall Score: 1.0
Test Accuracy: 0.8984321745057942
Test F1 Score: 0.6510538641686182
Test Precision Score: 0.9084967320261438
Test Recall Score: 0.5072992700729927
--------------------------------------------------
Results for LogisticRegression():
Training Accuracy: 0.8450745396083017
Training F1 Score: 0.43496801705756927
Training Precision Score: 0.6986301369863014
Training Recall Score: 0.3157894736842105
Test Accuracy: 0.8404907975460123
Test F1 Score: 0.42079207920792083
Test Precision Score: 0.6538461538461539
Test Recall Score: 0.3102189781021898
--------------------------------------------------

In [38]:
#hyperparameter tunning for all algo
for i in range(len(list(models))):
    model= list(models.values())[i]
    #print(model)
    model.fit(X_train,y_train)
    #print(model,"trained")
    y_train_pred=model.predict(X_train)
    
    y_test_pred=model.predict(X_test)
    
    model_train_accuracy = accuracy_score(y_train, y_train_pred)
    model_train_f1_score = f1_score(y_train, y_train_pred)
    model_train_precision_score = precision_score(y_train, y_train_pred)
    model_train_recall_score = recall_score(y_train, y_train_pred)
    
   
    model_test_accuracy = accuracy_score(y_test, y_test_pred)
    model_test_f1_score = f1_score(y_test, y_test_pred)
    model_test_precision_score = precision_score(y_test, y_test_pred)
    model_test_recall_score = recall_score(y_test, y_test_pred)
    
    
    print(f"Results for {model}:")
    print(f"Training Accuracy: {model_train_accuracy}")
    print(f"Training F1 Score: {model_train_f1_score}")
    print(f"Training Precision Score: {model_train_precision_score}")
    print(f"Training Recall Score: {model_train_recall_score}")
    print(f"Test Accuracy: {model_test_accuracy}")
    print(f"Test F1 Score: {model_test_f1_score}")
    print(f"Test Precision Score: {model_test_precision_score}")
    print(f"Test Recall Score: {model_test_recall_score}")
    print("-" * 50)
    
   
    
    
Results for DecisionTreeClassifier():
Training Accuracy: 1.0
Training F1 Score: 1.0
Training Precision Score: 1.0
Training Recall Score: 1.0
Test Accuracy: 0.858214042263122
Test F1 Score: 0.6376306620209059
Test Precision Score: 0.6203389830508474
Test Recall Score: 0.6559139784946236
------------------------------------- one by one

SyntaxError: invalid syntax (2794962521.py, line 37)

In [ ]:
param_rf = {
    'n_estimators': [10, 50, 100, 200],  # Number of trees in the forest
    'max_depth': [None, 10, 20, 30],  # Maximum depth of the tree
    'min_samples_split': [2, 5, 10],  # Minimum samples required to split a node
    'min_samples_leaf': [1, 2, 4],  # Minimum samples required at a leaf node
    'max_features': ['auto', 'sqrt', 'log2'],  # Number of features to consider at each split
    'bootstrap': [True, False],  # Whether bootstrap samples are used when building trees
    'criterion': ['gini', 'entropy'],  # Function to measure the quality of a split
    'n_jobs': [-1],  # Number of jobs to run in parallel
    'random_state': [42]  # Random state for reproducibility
}

In [ ]:
param_dt = {
    'criterion': ['gini', 'entropy'],  # Function to measure the quality of a split
    'splitter': ['best', 'random'],  # Strategy used to split at each node
    'max_depth': [None, 10, 20, 30],  # Maximum depth of the tree
    'min_samples_split': [2, 5, 10],  # Minimum number of samples required to split an internal node
    'min_samples_leaf': [1, 2, 4],  # Minimum number of samples required to be at a leaf node
    'max_features': [None, 'auto', 'sqrt', 'log2'],  # Number of features to consider for splitting
    'random_state': [42],  # Random state for reproducibility
    'max_leaf_nodes': [None, 10, 20, 30],  # Maximum number of leaf nodes in the tree
    'min_impurity_decrease': [0.0, 0.1, 0.2]  # Minimum impurity decrease required for a split
}

In [ ]:
param_lr = {
    'penalty': ['l1', 'l2', 'elasticnet', 'none'],  # Regularization type
    'C': [0.001, 0.01, 0.1, 1, 10, 100],  # Regularization strength
    'solver': ['lbfgs', 'liblinear', 'newton-cg', 'saga'],  # Optimization algorithm
    'max_iter': [100, 200, 300],  # Maximum number of iterations for the solver to converge
    'tol': [1e-4, 1e-3, 1e-2],  # Tolerance for stopping criteria
    'multi_class': ['ovr', 'multinomial'],  # Multi-class strategy
    'random_state': [42]  # Random state for reproducibility
}

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
randomcv_models=[
    ("RandomForestClassified", RandomForestClassifier(), param_rf),
    ("DecisionTreeClassifier", DecisionTreeClassifier(), param_dt),
    ("LogisticRegression",LogisticRegression(),param_lr)
]

In [ ]:
for name, model, params in randomcv_models:
    random=RandomizedSearchCV